:root{
 --verde-claro: #94a473;
--verde-escuro: #5d6648;
--branco: #ffffff;
}

body{
    background-color: var(--verde-claro);
}

header{
    display: flex; 
    width: 94%;
    background-color: var(--verde-escuro);
    padding: 3rem;
    justify-content: space-between;
}