@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&display=swap');


:root{
 --verde-claro: #94a473;
--verde-escuro: #5d6648;
--branco: #ffffff;
}

body{
    background-color: var(--verde-claro);
}

header{
    display: flex; 
    width: 98%;
    background-color: var(--verde-escuro);
    padding: 1rem;
    justify-content: center;
}

.Título{
    font-family: "Edu QLD Hand", cursive;
    color: #ffffff;
    font-size: 20px;
    position: fixed;
} 

.folhas{
    width: 25%;
    position: relative;
    right: 133%;
}

.folha2s{
    width: 25%;
    position: relative;
    right: -133%;
}
